/*basic design of enter page layout*/
body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}
/*responsible for image properties*/
.image1, .image2, .image3 {
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}
/*properties for image 1*/
.image1{
  background-image:url('https://images.unsplash.com/photo-1465447142348-e9952c393450?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=82b38be65f964fc0bb65e4e61c233e31&auto=format&fit=crop&w=1936&q=80');
  min-height:100%;
}
/*properties for image 2*/
.image2{
  background-image:url('https://images.unsplash.com/photo-1519452635265-7b1fbfd1e4e0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ddde6662ffe093d60786a3e20e7ca1cd&auto=format&fit=crop&w=600&q=60');
  min-height:400px;
}

/*properties for image 3*/
.image3 {
  background-image:url('https://images.unsplash.com/photo-1532746490455-60a27cbb2a81?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9482f274a9121d796dcc46e6b7b00e31&auto=format&fit=crop&w=750&q=80');
  min-height:400px;
}

/*given paragraph text*/
.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:5px;
  /*text-transform:uppercase;*/
}
/*for RideUniversity in specific*/
.ptext .border{
  background-color:#111;
  color:white;
  padding:20px;
}

/*for managing all sections to be centered/same size*/
.section{
  text-align:center;
  padding:50px 80px;
}

/*for first section properties*/
.section1-light{
  background-color:#f4f4f4;
  color:#666;
}

/*for second border properties*/
.ptext .border.trans{
  background-color:transparent;
  /*I added my own color*/
  color:black;
}
/*for second bottom of border properties*/
.section2-dark{
  background-color:#282e34;
  color:#ddd;
}

.section3-dark{
  background-color:#282e34;
  color:#ddd;
}
