{% extends "layout.html" %}
{% block content%}

	<div class="container">
		<h1> Robert Yee </h1>
		<!-- INSERT PICTURE -->
		  <div class="h-25 d-inline-block col-xs-6" style="width: 240px">
		<img src="https://images.unsplash.com/photo-1529429617124-95b109e86bb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" class="rounded float-left img-thumbnail " alt="Responsive image">
		</div>
		<!-- USER BIO -->
		<div class="input-group input-group-lg float-right col-sm" >
  			<div class="input-group-prepend">
    			<!-- <span class="input-group-text"> <h2>User Biography </h2></span> -->
  		
  			<textarea aria-label="With textarea" rows="13" placeholder="User information will be put here"></textarea>
  		</div>

		</div>
		<!-- <button class="btn btn-primary btn-sm"></button>  -->

	</div>
{% endblock content %}