{% extends "layout.html" %}
{% block content %}
<form>
<!--   <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div> -->
  <div class="form-group">
    <label for="exampleFormControlSelect2">How many avilaible seats?</label>
    <select class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Input Car details here</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Ex. Honda Civic 2018 Sports Edition Light Silver"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Input other details here (Scheudle) </label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ex. I get off class at 7, so I'll be ready to leave by 8. Pick up at Bourns bus stop or message me."></textarea>
  </div>

  <form>
  	<!-- this is where we can see how much miles that person is willing to drive
  <div class="form-group">
    <label for="formControlRange">Extra range you are willing to drive</label>
    <input type="range" class="form-control-range" id="formControlRange">
  </div> -->
</form>

</form>

{% endblock content %}