<!-- Link to CSS -->
{% block css%}
<link rel="stylesheet"  type= "text/css" href="{{ url_for('static', filename= 'index.css') }}">
{% endblock css %}

<!-- Body -->
{% extends "layout.html" %}
{% block content %}
<!-- PARALLAX PART -->
<div class="image1">
    <div class="ptext">
      <span class="border">
        RideUniversity
      </span>
    </div>
  </div>

<section class="section section1-light">
    <h1>Our Mission</h1>
    <!-- FIX color contrast -->
    <!-- <p> Here at UniveristyRides, we aim to provide an eco-friendly, inexpensive, safe, and easy to use platform for students to find rides to their desired destination </p> -->
    <p> Here at RideUniversity, we believe all college students should be able to commute to and from campus without worrying about the cost and their safety.</p>
</section>

<div class="image2">
    <div class="ptext">
      <span class="border">
        <!-- Fix the color contrast -->
        
        
        <a style="text-decoration: none; color:inherit; " href="signup"><strong> Sign Up! </strong> </a> or  <a id="hover" style="text-decoration: none; color:inherit" href="login"><strong> Log in!</strong></a>
      </span>
    </div>
  </div>

 <section class="section section2-dark">
    <h2>How Does RideUniversity  Work?</h2>
    <p><b>A secured centralized hub for students to share safe and cost-effective rides.</b></p>
   
  </section>


<div class="image3">
    <div class="ptext">
      <span class="border">
        <!-- Fix the color contrast -->
<!--     	Create a profile <br>
    	Search for a destination <br>
    	Ride together.<br>
    	Share a ride. Make a friend.<br>
    	Leave a review<br>
 -->
      Why RideUniversity?
      </span>
    </div>
  </div>

 <section class="section section3-light">
 	By using RideUniversity you are helping with 
 		<strong>Reducing</strong> carbon footprint, <strong>Relieving</strong> parking/road congestion, <strong>Creating</strong> a connected community for drivers and riders, <strong>Saving </strong>money, and <strong>Allowing</strong> yourself a chance to make a new friend :)
 	  </section>

{% endblock content %}
