<!-- Link to CSS -->
{% block css%}
<link rel="stylesheet"  type= "text/css" href="{{ url_for('static', filename= 'index.css') }}">
{% endblock css %}

<!-- Body -->
{% extends "layout.html" %}
{% block content %}
<!-- PARALLAX PART -->
<div class="image1">
    <div class="ptext">
      <span class="border">
        UniversityRide
      </span>
    </div>
  </div>

<section class="section section1-light">
    <h1>Our Mission</h1>
    <!-- FIX color contrast -->
    <!-- <p> Here at UniveristyRides, we aim to provide an eco-friendly, inexpensive, safe, and easy to use platform for students to find rides to their desired destination </p> -->
    <p> Here at UniversityRide, we believe all college students should be able to commute to and from campus without worrying about the cost and their safety.</p>
</section>

<div class="image2">
    <div class="ptext">
      <span class="border">
        <!-- Fix the color contrast -->
        
        
        <a style="text-decoration: none; color:inherit;" href="signup"><strong> Sign Up! </strong> </a> or  <a style="text-decoration: none; color:inherit" href="login"><strong> Log in!</strong></a>
      </span>
    </div>
  </div>

 <section class="section section2-dark">
    <h2>How Does UniversityRide Work?</h2>
    <p><b>A secured centralized hub for students to share safe and cost-effective rides.</b></p>
   
  </section>


<div class="image3">
    <div class="ptext">
      <span class="border-trans">
        <!-- Fix the color contrast -->
    	Create a profile <br>
    	Search for a destination <br>
    	Ride together.<br>
    	Share a ride. Make a friend.<br>
    	Leave a review<br>

      </span>
    </div>
  </div>

 <section class="section section3-dark">
 	<h2>By using UniversityRide you...</h2>
 		Reduce carbon footprint<br>
 		Relieve parking/road congestion<br>
 		Create a connected community drivers and riders<br>
 		Save money<br>
 		Make a friend :) <br>
  </section>

{% endblock content %}
